{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="centrifuge" style="display:none"
     data-url="{{ CENTRIFUGE_WS_ENDPOINT }}"
     data-user="{{ CENTRIFUGE_USER }}"
     data-info="{{ CENTRIFUGE_INFO }}"
     data-token="{{ CENTRIFUGE_TOKEN }}"
     data-sockjsurl="{{ CENTRIFUGE_SOCKJS_ENDPOINT }}"
     data-timestamp="{{ CENTRIFUGE_TIMESTAMP }}"
></div>
<div id="root">
    {% render_bundle 'index' %}
</div>

</body>
</html>